.ui-listview.app-responsive-list-A li .ui-btn{background-image:linear-gradient(to bottom,#eee,#ddd)}
.ui-listview.app-responsive-list-A li{margin-bottom:5px}
.ui-listview.app-responsive-list-A li .ui-btn p{color:#000}
.ui-listview.app-responsive-list-A li .ui-btn .ui-li-aside{color:#000}
@media(min-width :48em){.my-page .ui-content{padding:.5625em}
.ui-listview.app-responsive-list-A li{float:left;width:30.9333%;height:14.5em;margin:.5625em 1.2%}
.ui-listview.app-responsive-list-A li>.ui-btn{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;height:100%}
.ui-listview.app-responsive-list-A li.ui-li-has-thumb .ui-li-thumb{height:auto;width:100%;max-height:none}
.ui-listview.app-responsive-list-A li,.ui-listview.app-responsive-list-A li .ui-btn,.ui-listview.app-responsive-list-A .ui-li-thumb{-webkit-border-radius:inherit;border-radius:inherit}
.ui-listview.app-responsive-list-A .ui-btn-icon-right:after{display:none}
.ui-listview.app-responsive-list-A h2,.ui-listview.app-responsive-list-A p{white-space:normal;overflow:visible;position:absolute;left:0;right:0}
.ui-listview.app-responsive-list-A p.ui-li-responsive-p{height:35%}
.ui-listview.app-responsive-list-A h2{font-size:1.25em;margin:0;padding:.125em 1em;bottom:50%}
.ui-listview.app-responsive-list-A p{font-size:1em;margin:0;padding:0 1.25em;min-height:50%;bottom:0}
.ui-listview .ui-li-has-thumb h2,.ui-listview .ui-li-has-thumb p{background:rgba(255,235,205,.7)}
.ui-listview .ui-li-has-thumb h2{bottom:35%}
.ui-listview .ui-li-has-thumb p{min-height:35%}
.ui-listview.app-responsive-list-A .ui-li-aside{padding:.125em .625em;width:auto;min-height:0;top:0;left:auto;bottom:auto;background:rgba(200,200,200,.8);-webkit-border-top-right-radius:inherit;border-top-right-radius:inherit;-webkit-border-bottom-left-radius:inherit;border-bottom-left-radius:inherit;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0}
.ui-listview.app-responsive-list-A li>.ui-btn:hover{-moz-box-shadow:0 0 12px #3cf;-webkit-box-shadow:0 0 12px #3cf;box-shadow:0 0 12px #3cf}
.ui-listview.app-responsive-list-A li,.ui-listview.app-responsive-list-A .ui-btn{-webkit-transition:all 500ms ease;-moz-transition:all 500ms ease;-o-transition:all 500ms ease;-ms-transition:all 500ms ease;transition:all 500ms ease}
}
@media(min-width :63.75em){.my-page .ui-content{padding:.625em}
.ui-listview.app-responsive-list-A{max-width:90%;margin:0 auto}
.ui-listview.app-responsive-list-A li{width:23%;height:230px;margin:.625em 1%}
}