#LAPSTONE{position:fixed;height:100%;width:100%;top:0;left:0;background:linear-gradient(to right,#1e5799 0,#0065aa 40%,#0065aa 60%,#004f82 100%);text-align:center;z-index:1000}
#LAPSTONE>div#lapstone-content{position:relative;top:20%}
#LAPSTONE>div#lapstone-content>.lapstone-status{display:none}
#LAPSTONE>div#lapstone-progress{position:fixed;z-index:1001;width:100%;bottom:10px}
#LAPSTONE>div#lapstone-progress>.lapstone-startup-image{background:transparent;display:inline-block;width:64px;height:64px}