/* body tag of page */
body.app-desktop {
}

/* jQuery Mobile header */
body.app-desktop div.app-header {
	position: static;

}

/* jQuery Mobile footer = body menu */
body.app-desktop div.app-footer {
	position: static;
	background-color: blue;
}

/* jQuery Mobile panel = global menu */
body.app-desktop div#page-panel {
	position: static;

	display:none;
}

/* jQuery Mobile panel = page specific menu */
body.app-desktop div#nav-panel {
	position: static;
	background-color: red;
}





body.app-desktop div#nav-panel ul.ui-listview li{
	display:inline;width:200px;
}

body.app-desktop div#nav-panel ul.ui-listview li#gm_close_menu, 
body.app-desktop div#nav-panel ul.ui-listview li#gm_create_backup,
body.app-desktop p#gm_header_global_menu,
body.app-desktop a#gm_menulink
{
	display:none;
}

body.app-desktop div#nav-panel ul#global_menu li
{
  float:left;
	width:200px;
}


body.app-desktop #index {padding-top:0px !important;}

 
body.app-desktop a#gp_search_btn{
	display:none;
}
body.app-desktop .app-header{
	padding-top:0px;
}
body.app-desktop #spmenue{
	display:none;
}

body.app-desktop #gp_footer2{
	display:none;
}
body.app-desktop #app-footer{
	display:none;
}

body.app-desktop div#gp_header{
	height:28px;
	width:100%;
	background-color:purple;

	background-image: url("../images/footer_bg.jpg");
	background-color: rgb(0, 94, 165);
	padding: 10px;
}

body.app-desktop .ui-content{
	clear:both;
}

body.app-desktop #app-header{
	background-color:#F6F6F6;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {

}