body.app-mobile div.app-footer{background:#3232ff;background:linear-gradient(to right,#1e5799 0,#0065aa 40%,#0065aa 60%,#004f82 100%) repeat scroll 0 0 transparent}
body.app-mobile div.app-footer div[data-role=navbar] ul li{width:25%}
body.app-mobile div.app-footer div[data-role=navbar] ul li a{background:0;border:0;text-shadow:none;color:#EEE;font-weight:normal;font-size:10px;letter-spacing:.04rem;padding-top:2.9em}
body.app-mobile div.app-footer div[data-role=navbar] ul li a:hover{background:radial-gradient(ellipse at center,rgba(64,150,238,1) 0,rgba(96,171,248,0) 26%,rgba(122,188,255,0) 36%,rgba(255,255,255,0) 89%)}
@media(min-width :645px){body.app-mobile div.app-footer div[data-role=navbar] ul li a{padding-top:53px}
body.app-mobile div.app-footer div[data-role=navbar] ul li .ui-btn-icon-top:after{top:.5em;height:40px;width:40px;margin-left:-20px;background-size:30px 30px}
}
@media(min-width :900px){body.app-mobile div.app-footer div[data-role=navbar] ul li a{font-size:12.5px}
}