/* body tag of page */
body.app-desktop {
	
}

/* jQuery Mobile header */
body.app-desktop div#app-header {
	
}

/* jQuery Mobile panel = global menu */
body.app-desktop div#page-panel {
	display: none;
	width: 100%;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

/* jQuery Mobile panel = page specific menu */
body.app-desktop div#nav-panel {
	
}

/**/
body.app-desktop div#nav-panel>ul {
	display: block;
	width: 100%;
	background-color: #EEE;
	text-align: center;
	margin: 0;
}

/**/
body.app-desktop div#nav-panel>ul>li {
	display: inline-block;
	list-style: none;
	padding: 10px 15px 10px 15px;
}

/**/
body.app-desktop div#page-panel>ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

/**/
body.app-desktop div#page-panel>ul>li {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	list-style: none;
}

/* 
 * FOOTER + FOOTER MENU
 * jQuery Mobile footer = body menu 
 */
body.app-desktop div.app-footer {
	background: rgb(50, 50, 255);
	background: linear-gradient(to right, #1E5799 0%, #0065AA 40%, #0065AA 60%, #004F82 100%) repeat scroll 0px 0px transparent;
}

body.app-desktop div.app-footer div[data-role=navbar] {
	
}


