body.app-desktop{background-image:url("../images/bg.png")}
body.app-desktop div[data-role=page]{background:0}
body.app-desktop div[data-role=page][data-isglobalpage=false] div[data-role=content]{border:1px solid #BBB;margin:10% 25% 0 25%;min-width:300px;box-shadow:5px 5px 5px #888}
body.app-desktop div[data-role=page][data-isglobalpage=false] div[data-role=content] img.logo{position:absolute;margin-top:-70px;margin-left:-95px}
body.app-desktop div[data-role=page][data-isglobalpage=false] div[data-role=content] h1{margin-left:70px}
body.app-desktop div[data-role=page][data-isglobalpage=true] div[data-role=content]{background:url("../Images/shadowtop.png") no-repeat scroll center top rgba(0,0,0,0)}
body.app-desktop div#app-header{background-image:url("../images/bg_head.jpg");border:0;height:65px;text-align:center}
body.app-desktop div#app-header>img{display:inline-block;height:40px;margin-top:14px}
body.app-desktop div#nav-panel>ul{display:block;width:100%;background-color:#ededed;text-align:center;margin:0;padding:0}
body.app-desktop div#nav-panel>ul>li{display:inline-block;list-style:none;padding:20px 15px 20px 15px}
body.app-desktop div#nav-panel>ul>li>a{font-weight:normal;margin-top:10px;font-size:1.18571429rem;text-transform:uppercase;color:#777;text-decoration:none}
body.app-desktop div#nav-panel>ul>li>a:hover,body.app-desktop div#nav-panel>ul>li>a:focus,body.app-desktop div#nav-panel>ul>li>a:active{color:#4a4949}
body.app-desktop div#page-panel{display:none;padding:0;margin:0 0 0 -350px;position:absolute;width:700px;left:50%;z-index:10000;background-color:#ededed}
body.app-desktop div#page-panel>ul{padding:12px 0 0 0;margin:0;width:100%;text-align:center;display:block}
body.app-desktop div#page-panel>ul>li{display:block;margin:3px 0 12px 0;list-style:none;border:0;display:block;background-color:transparent}
body.app-desktop div#page-panel>ul>li>a{margin:12px 0 12px 0;display:block;font-weight:normal;color:#777;text-transform:uppercase;text-decoration:none}
body.app-desktop div#page-panel>ul>li>a:hover,body.app-desktop div#page-panel>ul>li>a:focus{color:#4a4949}
.image_float_left{float:left;margin-right:15px}
.image_float_right{float:right;margin-left:15px}
body.app-desktop div.app-footer{height:30px;background:#3232ff;background:linear-gradient(to right,#1e5799 0,#0065aa 40%,#0065aa 60%,#004f82 100%) repeat scroll 0 0 transparent}
body.app-desktop div.app-footer div[data-role=navbar]{display:none;visibility:hidden}