.bubblingG-inline-button{display:inline-block;position:absolute;right:5px;width:40px;top:0;height:100%;z-index:1000;text-align:center;height:100%}
.bubblingG-inline-button span{display:inline-block;vertical-align:middle;position:static;margin-top:44%;width:5px;height:5px;background:#000;-moz-border-radius:50px;-moz-animation:bubblingG-inline-button 1.0 infinite alternate;-webkit-border-radius:50px;-webkit-animation:bubblingG-inline-button 1.0 infinite alternate;-ms-border-radius:50px;-ms-animation:bubblingG-inline-button 1.0 infinite alternate;-o-border-radius:50px;-o-animation:bubblingG-inline-button 1.0 infinite alternate;border-radius:50px;animation:bubblingG-inline-button 1.0 infinite alternate}
#bubblingG-inline-button_1{-moz-animation-delay:0;-webkit-animation-delay:0;-ms-animation-delay:0;-o-animation-delay:0;animation-delay:0}
#bubblingG-inline-button_2{-moz-animation-delay:.39s;-webkit-animation-delay:.39s;-ms-animation-delay:.39s;-o-animation-delay:.39s;animation-delay:.39s}
#bubblingG-inline-button_3{-moz-animation-delay:.78s;-webkit-animation-delay:.78s;-ms-animation-delay:.78s;-o-animation-delay:.78s;animation-delay:.78s}
@-moz-keyframes bubblingG-inline-button{0{width:5px;height:5px;background-color:#555;-moz-transform:translateY(0)}
100%{width:10px;height:10px;background-color:#fff;-moz-transform:translateY(-10px)}
}
@-webkit-keyframes bubblingG-inline-button{0{width:5px;height:5px;background-color:#555;-webkit-transform:translateY(0)}
100%{width:10px;height:10px;background-color:#fff;-webkit-transform:translateY(-10px)}
}
@-ms-keyframes bubblingG-inline-button{0{width:5px;height:5px;background-color:#555;-ms-transform:translateY(0)}
100%{width:10px;height:10px;background-color:#fff;-ms-transform:translateY(-10px)}
}
@-o-keyframes bubblingG-inline-button{0{width:5px;height:5px;background-color:#555;-o-transform:translateY(0)}
100%{width:10px;height:10px;background-color:#fff;-o-transform:translateY(-10px)}
}
@keyframes bubblingG-inline-button{0{width:5px;height:5px;background-color:#555;transform:translateY(0)}
100%{width:10px;height:10px;background-color:#fff;transform:translateY(-10px)}
}